In [ ]:
# Import python packages
import streamlit as st
import pandas as pd

# We can also use Snowpark for our analyses!
from snowflake.snowpark.context import get_active_session
session = get_active_session()

In [ ]:
-- Welcome to Snowflake Notebooks!
-- Try out a SQL cell to generate some data.
SELECT 'FRIDAY' as SNOWDAY, 0.2 as CHANCE_OF_SNOW
UNION ALL
SELECT 'SATURDAY',0.5
UNION ALL 
SELECT 'SUNDAY', 0.9;

In [ ]:
# Then, we can use the python name to turn cell2 into a Pandas dataframe
my_df = cell2.to_pandas()

# Chart the data
st.subheader("Chance of SNOW ‚ùÑÔ∏è")
st.line_chart(my_df, x='SNOWDAY', y='CHANCE_OF_SNOW')

# Give it a go!
st.subheader("Try it out yourself and show off your skills ü•á")

In [ ]:
df = session.table('ecommerce').to_pandas()

In [ ]:
df.rename(columns={'C1': 'label', 'C2': 'text'}, inplace=True)
df.dropna(subset=['text'], inplace=True)

Data analysis

In [ ]:
label_counts = df['label'].value_counts()
print(label_counts)

In [ ]:

label_to_keep = "Household"

# Dropping the examples corresponding to Household to make data uniform
df = pd.concat([
    df[df['label'] == label_to_keep].head(10000),
    df[df['label'] != label_to_keep]
])
label_counts = df['label'].value_counts()
print(label_counts)

In [ ]:
Prompt = "You are a classifier model, you have to classify the given text into {}. Return one of these categories only and if it doesnt fit then output 'None'. The text is - ".format(df['label'].unique())

In [ ]:
def create_prompt(row):
    return Prompt + row['text']
    

# Apply the prompt creation to each row in the DataFrame
df['prompt'] = df.apply(create_prompt, axis=1)

# Show the DataFrame with generated prompts
print(df[['text', 'prompt']])

In [ ]:
USE DATABASE CONTAINER_RUNTIME_LAB;
USE SCHEMA NOTEBOOKS;

In [ ]:
from snowflake.cortex import Complete
def classify(question):
    prompt = Prompt + question
    return Complete('gemma-7b', prompt)

In [ ]:
classify("Lets go for shopping. I prefer Quatar, Lithuanza and Air Asia. Which one you like")

In [ ]:
df['text'].head(10)